@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: spin 8s linear infinite;
}

/*
.responsive-height {
    height: calc(100vh - 170px); !* Default (Desktop) *!
}

@media (max-width: 1024px) {
    .responsive-height {
        height: calc(100vh - 280px); !* Mobile *!
    }
}
*/
